@use "main";
@use "modal";
// repetitive styles
button{
  background: none;
  border: none;
  transition: all .3s ease;
  border: 1px solid ;
  padding: 10px;
  border-radius: 10px;
}
.container{
  position: relative;
}
// Header Container

header{
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 2;
  padding: 24px 16px;
  background: #FFF;
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      font-size: 32px;
      font-weight: bold;
    }
  }
}

footer{
  width: 100%;
  padding: 18px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}